Source: lvm2
Section: admin
Priority: optional
Maintainer: Patrick Caulfield <patrick@debian.org>
Build-Depends: cdbs (>= 0.4.20), debhelper (>> 4.1.16), libdevmapper-dev (>= 2:1.00.07-1), libreadline4-dev, autotools-dev
Standards-Version: 3.6.1

Package: lvm2
Architecture: any
Depends: ${shlibs:Depends}, ${debconf-depends}, lvm-common (>> 1.5.8)
Provides: lvm-binaries
Suggests: dmsetup, kernel-patch-device-mapper
Description: The Linux Logical Volume Manager
 This is LVM2, the rewrite of The Linux Logical Volume Manager.  LVM
 supports enterprise level volume management of disk and disk subsystems
 by grouping arbitrary disks into volume groups. The total capacity of
 volume groups can be allocated to logical volumes, which are accessed as
 regular block devices.
 .
 Though LVM2 is currently stable, it is not yet recommended for production
 use.  It is backwards-compatible with LVM1 (lvm10), and requires Linux
 kernel 2.4.

Package: lvm2-udeb
Section: debian-installer
Architecture: any
Depends: ${shlibs:Depends}
Description: The Linux Logical Volume Manager
 This is a udeb, or a microdeb, for the debian-installer.
 .
 This is LVM2, the rewrite of The Linux Logical Volume Manager.  LVM
 supports enterprise level volume management of disk and disk subsystems
 by grouping arbitrary disks into volume groups. The total capacity of
 volume groups can be allocated to logical volumes, which are accessed as
 regular block devices.
