Source: lvm2
Section: admin
Priority: optional
Maintainer: Patrick Caulfield <patrick@debian.org>
Build-Depends: cdbs (>= 0.4.20), debhelper (>> 4.1.16), libdevmapper-dev (>= 2:1.00.07-1), libreadline4-dev, autotools-dev, libdlm-dev
Standards-Version: 3.6.1

Package: lvm2
Architecture: any
Pre-Depends: debconf (>= 0.2.17)
Depends: ${shlibs:Depends}, lvm-common (>> 1.5.8)
Provides: lvm-binaries
Suggests: dmsetup
Description: The Linux Logical Volume Manager
 This is LVM2, the rewrite of The Linux Logical Volume Manager.  LVM
 supports enterprise level volume management of disk and disk subsystems
 by grouping arbitrary disks into volume groups. The total capacity of
 volume groups can be allocated to logical volumes, which are accessed as
 regular block devices.
 .
 LVM2 is backwards-compatible with LVM1 (lvm10), and requires Linux
 kernel 2.4 or later

Package: lvm2-udeb
Section: debian-installer
Architecture: any
Depends: ${shlibs:Depends}
Description: The Linux Logical Volume Manager
 This is a udeb, or a microdeb, for the debian-installer.
 .
 This is LVM2, the rewrite of The Linux Logical Volume Manager.  LVM
 supports enterprise level volume management of disk and disk subsystems
 by grouping arbitrary disks into volume groups. The total capacity of
 volume groups can be allocated to logical volumes, which are accessed as
 regular block devices.

Package: clvm
Section: admin
Priority: extra
Architecture: i386 ia64 powerpc arm mips hppa alpha mipsel m68k
Depends: ${shlibs:Depends}, lvm2 (>> 2.0.23)
Suggests: cman, fence
Description: Cluster LVM Daemon for lvm2
 This package provides the clustering interface for lvm2, when used with 
 Red Hat's "cman" cluster infrastructure. It allows logical volumes to
 be created on shared storage devices (eg Fibre Channel, or iSCSI). 
