Source: lvm2
Section: admin
Priority: optional
Maintainer: Debian LVM Team <pkg-lvm-maintainers@lists.alioth.debian.org>
Uploaders: Bastian Blank <waldi@debian.org>
Build-Depends: debhelper (>> 4.2), automake, libcman-dev (>> 2), libdevmapper-dev (>> 2:1.02.27), libdlm-dev (>> 2), libreadline5-dev, quilt
Standards-Version: 3.7.3

Package: lvm2
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: lvm-common
Replaces: lvm-common
Suggests: dmsetup
Description: The Linux Logical Volume Manager
 This is LVM2, the rewrite of The Linux Logical Volume Manager.  LVM
 supports enterprise level volume management of disk and disk subsystems
 by grouping arbitrary disks into volume groups. The total capacity of
 volume groups can be allocated to logical volumes, which are accessed as
 regular block devices.

Package: lvm2-udeb
XC-Package-Type: udeb
Section: debian-installer
Architecture: any
Depends: ${shlibs:Depends}
Description: The Linux Logical Volume Manager
 This is a udeb, or a microdeb, for the debian-installer.
 .
 This is LVM2, the rewrite of The Linux Logical Volume Manager.  LVM
 supports enterprise level volume management of disk and disk subsystems
 by grouping arbitrary disks into volume groups. The total capacity of
 volume groups can be allocated to logical volumes, which are accessed as
 regular block devices.

Package: clvm
Section: admin
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}, lvm2 (= ${binary:Version})
Suggests: cman
Description: Cluster LVM Daemon for lvm2
 This package provides the clustering interface for lvm2, when used with 
 Red Hat's "cman" cluster infrastructure. It allows logical volumes to
 be created on shared storage devices (eg Fibre Channel, or iSCSI). 
